{% extends "base.html" %}
{% load static %}

{% block title %}This is my blog{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}">
  <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block body %}

<section id='welcome'>
  <header>
    <img src="{% static "blog/images/leaf.jpg" %}" alt="A nice leaf">
    <h2>My Blog</h2>
  </header>
  <p>Hi, this is my blog!</p>
</section>

<section id='latest-posts'>
  <h2>Latest posts</h2>
  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" with post=post%}
    {% endfor %}
  </ul>
</section>

<section id='about'>
  <h2>What I Do</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, unde.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed magnam tempore vero quisquam numquam!
  </p>
</section>
{% endblock %}
